* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
    font-family: "poppins", "sans-serif";
}

.flex-container {
    position: relative;
    display: flex;
    z-index: -1;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    height: 100%;
}

.background {
    transform: translateZ(-40px) scale(5);
}   

.forground {
    transform: translateZ(-20px) scale(3);
}

h1 {
    top: 5rem;
    position: absolute;
    font-size: 10rem;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.background, .forground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section {
    background-color: rgba(45, 45, 45);
    color: white;
    padding: 5rem 0;
}

.sec-heading {
    font-size: 5rem;
    padding: 0 10rem;
}

.text {
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
    text-align: justify;
}

.head-container {
    position: relative;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.desc {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3.5rem;
    font-weight: 600;
    background-color: white;
    padding: 0.5rem 2.5rem;
    color: black;
    transform: translateX(-50%) translateY(-50%);
}

#bg1 {
    background-image: url(./assets/sport-1.jpg);
}

#bg2 {
    background-image: url(./assets/sport-2.jpg);
}

#bg3 {
    background-image: url(./assets/sport-3.jpg);
}
